@font-face {
    font-family: 'iconfont';
    /* Project id 3177917 */
    src: url('//at.alicdn.com/t/font_3177917_l64p7i4dim.woff2?t=1644804707388') format('woff2'), url('//at.alicdn.com/t/font_3177917_l64p7i4dim.woff?t=1644804707388') format('woff'), url('//at.alicdn.com/t/font_3177917_l64p7i4dim.ttf?t=1644804707388') format('truetype');
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}